<p id="notice"><%= notice %></p>

<p>
  <strong>Image:</strong>
  <%= image_tag @picture.image.url%>
</p>

<p>
  <strong>Content:</strong>
  <%= @picture.content %>
</p>

<%= button_to '編集', edit_picture_path(@picture), method: :get %> |
<%= button_to '一覧画面', pictures_path, method: :get %>
